
@{
    ViewBag.Title = "Главная страница доктора";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-8">

</div>
<div class="col-md-4">
    <p />
    <a href="~/Doctor/DataDoctor" class="btn btn-primary btn-lg active btn-block" role="button">Данные о враче</a>
    <a href="~/Doctor/ViewingAppointments" class="btn btn-primary btn-lg active btn-block" role="button">Просмотр записей на приём</a>
    <a href="~/Doctor/PatientAcceptance" class="btn btn-primary btn-lg active btn-block" role="button">Пациент по острой боли</a>
    <a href="~/User/Index" class="btn btn-primary btn-lg active btn-block" role="button">Переход к функционалу пользователя</a>
</div>



