@{
    ViewBag.Title = "Приём пациента по острой боли";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<form role="form" method="post">
    <label for="numberP">Серия и номер паспорта</label>
    <input type="text" name="numberPassport" id="numberP" class="form-control">

    <button type="submit" class="btn btn-success">Найти пациента</button>

</form>



