@{
    ViewBag.Title = "Главная страница";
}

<div class="jumbotron">
    <h2>Добро пожаловать на наш ресурс</h2><br/>
    <h3>Для доступа к функционалу войдите в свою учётную запись или зарегистрируйтесь!</h3>
    
</div>


