
@{
    ViewBag.Title = "Главная страница администратора";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="col-md-8">
        
    </div>
    <div class="col-md-4">
        <p/>
        <a href="~/Admin/AddRole" class="btn btn-primary btn-lg active btn-block" role="button">Добавление роли</a>
        <a href="~/Admin/RemoveRole" class="btn btn-primary btn-lg active btn-block" role="button">Удаление роли</a>
        <a href="~/User/Index" class="btn btn-primary btn-lg active btn-block" role="button">Переход к функционалу пользователя</a>
    </div>



