@using WebApplication1.Models;

<div id="C">
    <table class="table table-striped table-bordered">
        <tr>
            <td>Программа/технология</td>
            <td>Уровень владения</td>
        </tr>
        @foreach (AbilityItem item in ViewBag.Ability)
            {
            <tr>
                <td>@item.Skill</td>
                <td>@item.SkillLevel</td>
            </tr>
        }

    </table>
</div>
