@using WebApplication1.Models;

<div id="L">
    <table class="table table-striped table-bordered">
        <tr>
            <td>Язык</td>
            <td>Уровень владения</td>
        </tr>

        @foreach (KnowledgeOfForeignLanguagesItem item in ViewBag.Language)
            {
            <tr>
                <td>@item.Language</td>
                <td>@item.TheLevelOfLanguageLearning</td>
            </tr>
        }

    </table>
</div>

